<section>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{header.name}}</strong>
          </div>
        <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
              <form name="blog">
                <div class="form-group">
                  <!-- <label for="exampleInputName1">Id</label> -->
                  <input name="_id" ng-model="userForm._id" type="hidden" class="form-control" id="exampleInputName1" placeholder="User Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Title</label>
                  <input name="title" capitalize-first required ng-model="userForm.title"  type="text" class="form-control" id="exampleInputName2" placeholder="Enter Title">
                  <div class="error-msg" ng-show="blog.title.$error.required && blog.title.$touched">Please Enter Title.
                  </div>
                </div>
                <div class="form-group" ng-if="header.name=='Edit Blog'">
                    <label for="exampleInputName3">Timestamp</label>
                    <input name="timeStamp" ng-model="userForm.timestamp" type="text" class="form-control" id="exampleInputName3" placeholder="Timestamp" readonly>
                    <!-- <div class="error-msg" ng-show="user.timeStamp.$error.required && user.timeStamp.$touched">Please Enter Timestamp.
          </div> -->
                </div>
                <label for="exampleInputName4">User</label>
                <div class="form-group">
                  <span class="ui-select" id="exampleInputName4">
                    <select ng-options="user._id as user.name for user in userdata" ng-model="userForm.user">
                    <option value="">select User</option>
                    </select>
                      <!-- <select ng-model="userForm.user" required>
                        <option></option>
                        <option value="Facebook">Facebook</option>
                        <option value="Twitter">Twitter</option>
                        <option value="Google">Google</option>
                      </select> -->
                      <!-- <div class="error-msg" ng-show="user.loginType.$error.required && user.loginType.$touched">Please Enter Login Type.</div> -->
                    </span>
                </div>
                <div class="form-group">
                  <label for="exampleInputName5">Content</label>
                  <textarea name="content" required ng-model="userForm.content" id="exampleInputName5" class="form-control"></textarea>
                  <div class="error-msg" ng-show="blog.content.$error.required && blog.content.$touched">Please Enter Content.
                  </div>
                </div>
                <label for="exampleInputName6">Status</label>
                <div class="form-group">
                  <div class="ui-select" id="exampleInputName6">
                    <select ng-model="userForm.status" required>
                        <option value="">select status</option>
                      <option value="Enable">Enable</option>
                      <option value="Disable">Disable</option>
                    </select>
                  </div>
                <div class="upload-img text-center mar30">
                  <button class="btn btn-sm btn-info" ng-class="{'disabled' : !blog.$valid }" ng-click="blogSubmitForm(blog)">Save</button>
                <a ui-sref="blog()">   <button class="btn btn-sm btn-info">Cancel</button></a>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
</section>
