<section>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Create User</strong>
          </div>
        <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <div>
              <h4><b>Create User</b></h4>
            </div>
              <form action="" name="user">
                <div class="form-group">
                  <label for="exampleInputName2">Id</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName2" placeholder="User Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Name</label>
                  <input name="name" required type="text" class="form-control" id="exampleInputName2" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Email</label>
                  <input name="email" required type="email" class="form-control" id="exampleInputName2" placeholder="Enter EmailId">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Logintype</label>
                  <br>

                  <select>
                    <option></option>
                    <option value="Facebook">Facebook</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Google">Google</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Facebook</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName2" placeholder="Facebook Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Twitter</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName2" placeholder="Twitter Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Google</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName2" placeholder="Google Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Accesslevel</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName2" placeholder="Enter Accesslevel">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Contact</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName2" placeholder="Enter Contact number">
                </div>
                <div class="upload-img text-center mar30">
                  <button class="btn btn-sm btn-info">Save</button>
                  <button class="btn btn-sm btn-info">Cancel</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
</section>
