<div class="panel panel-default table-dynamic">
  <div class="panel-heading">
    <strong>{{menutitle}}</strong>
    <button class="btn btn-info pull-right" ui-sref="create-documentation" style="margin-top: -7px;"><i class="fa fa-user-plus"></i> Create</button>
  </div>
  <div class="panel-body">
    <div class="table-filters">
      <div class="row">
        <div class="col-sm-4 col-xs-6">
          <form>
            <div class="row">
              <div class="col-md-9">
                <input type="text" placeholder="Search..." class="form-control" ng-model="pagedata.search">
              </div>
              <div class="col-md-2">
                <input type="submit" class="btn btn-info" value="Search" ng-click="search(pagedata)">
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-3 col-xs-6 filter-result-info">
          <span>
                      Showing 25/25 entries
                  </span>
        </div>
      </div>
    </div>
    <table class="table table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <th><div class="th">
            #
            <span class="fa fa-angle-up">
            </span>
            <span class="fa fa-angle-down">
            </span>
          </div></th>
          <th><div class="th">
            Title
            <span class="fa fa-angle-up" data-ng-click=" order('name') "
            data-ng-class="{active: row == 'name'}">
            </span>
            <span class="fa fa-angle-down" data-ng-click=" order('-name') "
              data-ng-class="{active: row == '-name'}">
            </span>
          </div></th>
          <th><div class="th">
            Status
            <span class="fa fa-angle-up">
            </span>
            <span class="fa fa-angle-down">
            </span>
          </div></th>
          <th><div class="th">
            Action
          </div></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td>1</td>
          <td>
            <span>
              First Preview Of Android
            </span>
          </td>
          <td>
            <span>Enable</span>
          </td>
          <td>
            <span>
            <button class="btn btn-sm btn-info" ui-sref="edit-documentation"><i class="fa fa-pencil-square-o"></i></button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
          </span>
          </td>
        </tr> -->
        <tr ng-repeat="data in documentationdata">
          <td>{{data._id}}</td>
          <td>
            <span>
              {{data.title}}
            </span>
          </td>
          <td>
            <span>{{data.status}}</span>
          </td>
          <td>
            <span>
            <button class="btn btn-sm btn-info" ui-sref="edit-documentation({id:data._id})"><i class="fa fa-pencil-square-o"></i></button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-sm btn-danger" ng-click="deletedocumentation(data._id)"><i class="fa fa-trash"></i></button>
          </span>
          </td>
        </tr>
        <!-- <tr>
          <td>2</td>
          <td>
            <span>
              Second Preview Of Android
            </span>
          </td>
          <td>
            <span>Disable</span>
          </td>
          <td>
            <span>
            <button class="btn btn-sm btn-info" ui-sref="edit-documentation"><i class="fa fa-pencil-square-o"></i></button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
          </span>
          </td>
        </tr> -->
      </tbody>
    </table>
    <footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                    Show
                    <!-- <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select>  -->
                    <select>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="filteredStores.length"
                            max-size="4"
                            ng-change="select(currentPage)"
                            items-per-page="numPerPage"
                            rotate="false"
                            previous-text="&lsaquo;" next-text="&rsaquo;"
                            boundary-links="true"></uib-pagination>
            </div>
        </div>
    </footer>
</div>
</div>
</div>
