
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>{{menutitle}}</strong>
      <button class="btn btn-info pull-right" ui-sref="createuser" style="margin-top: -7px;"><i class="fa fa-user-plus"></i> Create</button>
    </div>
    <div class="panel-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <span>
                Raj Shah
              </span>
            </td>
            <td>
              <span>rshah4316@gmail.com</span>
            </td>
            <td>
              <span>
              <button class="btn btn-sm btn-info" ui-sref="edituser"><i class="fa fa-pencil-square-o"></i>Edit</button>&nbsp;&nbsp;&nbsp;
              <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>Delete</button>
            </span>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</div>
