<section>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{header.name}}</strong>
          </div>
        <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
              <form name="user">
                <div class="form-group">
                  <label for="exampleInputName1">Id</label>
                  <input name="id" required ng-model="userForm.id" required type="text" class="form-control" id="exampleInputName1" placeholder="User Id" readonly="">
                  <div class="error-msg" ng-show="user.id.$error.required && user.id.$touched">Please Enter Your id.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">User</label>
                  <input name="userName" ng-model="userForm.userName"  required type="text" class="form-control" id="exampleInputName2" placeholder="Enter User">
                  <div class="error-msg" ng-show="user.userName.$error.required && user.userName.$touched">Please Enter User.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName3">Name</label>
                  <input name="name" required ng-model="userForm.name"  type="text" class="form-control" id="exampleInputName3" placeholder="Enter Name">
                  <div class="error-msg" ng-show="user.name.$error.required && user.name.$touched">Please Enter Your Name.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName4">Email</label>
                  <input name="email" required ng-model="userForm.email" type="email" class="form-control" id="exampleInputName4" placeholder="Enter Email Address">
                  <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Email id.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName5">Contact</label>
                  <input name="contact" ng-model="userForm.contact" type="text" class="form-control" id="exampleInputName5" placeholder="Enter Contact number">
                  <div class="error-msg" ng-show="user.contact.$error.required && user.contact.$touched">Please Enter Contact.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName6">Subject</label>
                  <input name="subject" required ng-model="userForm.subject" type="text" class="form-control" id="exampleInputName6" placeholder="Enter Subject">
                  <div class="error-msg" ng-show="user.subject.$error.required && user.subject.$touched">Please Enter Subject.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName7">Query</label>
                  <textarea name="query" required ng-model="userForm.query" ui-tinymce id="exampleInputName7" class="form-control"></textarea>
                  <div class="error-msg" ng-show="user.query.$error.required && user.query.$touched">Please Enter Query.
                  </div>
                </div>
                <div class="upload-img text-center mar30">
                  <button class="btn btn-sm btn-info" ng-click="submitForm(userForm,user)">Save</button>
                <a href="#/suggestion">  <button class="btn btn-sm btn-info">Cancel</button></a>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
</section>
