<section>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{header.name}}</strong>
          </div>
        <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
              <form name="user">
                <div class="form-group">
                  <!-- <label for="exampleInputName1">Id</label> -->
                  <input name="id" ng-model="userForm.id" type="hidden" class="form-control" id="exampleInputName1" placeholder="User Id" readonly="">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Name</label>
                  <input name="name" required ng-model="userForm.name" type="text" class="form-control" id="exampleInputName2" placeholder="Enter Name">
                  <div class="error-msg" ng-show="user.name.$error.required && user.name.$touched">Please Enter Your Name.</div>
                </div>
                      <div class="form-group">
                        <input type="file" title="Choose File" class="btn-primary" ui-file-upload>
                      </div>
                      <div class="form-group">
                        <input type="file" title="Choose File" class="btn-primary" ui-file-upload multiple>
                      </div>
                <div class="form-group">
                  <label for="exampleInputName5">Text</label>
                  <input name="text" required ng-model="userForm.text" type="text" class="form-control" id="exampleInputName5" placeholder="Enter Text">
                  <div class="error-msg" ng-show="user.text.$error.required && user.text.$touched">Please Enter Text.</div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName6">Description</label>
                  <textarea name="description" required ng-model="userForm.description" id="exampleInputName6" class="form-control"></textarea>
                  <div class="error-msg" ng-show="user.description.$error.required && user.description.$touched">Please Enter Description.
                  </div>
                </div>
                <div class="upload-img text-center mar30">
                  <button class="btn btn-sm btn-info" ng-click="submitForm(userForm,user)">Save</button>
                <a href="#/templates">  <button class="btn btn-sm btn-info">Cancel</button></a>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
</section>
