<section>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Create User</strong>
          </div>
        <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
              <form action="" name="usernotification">
                <div class="form-group">
                  <label for="exampleInputName1">Id</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName1" placeholder="User Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">User</label>
                  <input name="user" required type="text" class="form-control" id="exampleInputName2" placeholder="Enter User">
                </div>
                <div class="form-group">
                  <label for="exampleInputName3">Start Time</label>
                  <input name="id" type="text" class="form-control" id="exampleInputName3" placeholder="Start Time">
                </div>
                <div class="form-group">
                  <label for="exampleInputName4">End Time</label>
                  <input name="id" type="text" class="form-control" id="exampleInputName4" placeholder="End Time">
                </div>
                <div class="form-group">
                  <label for="exampleInputName5">Creation Time</label>
                  <input name="id" type="text" class="form-control" id="exampleInputName5" placeholder="Creation Time">
                </div>
                <div class="form-group">
                  <label for="exampleInputName6">Modification Time</label>
                  <input name="id" type="text" class="form-control" id="exampleInputName6" placeholder="Modification Time">
                </div>
                <div class="form-group">
                  <label for="exampleInputName7">Status</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName7" placeholder="Enter Status ">
                </div>
                <div class="upload-img text-center mar30">
                  <button class="btn btn-sm btn-info">Save</button>
                  <button class="btn btn-sm btn-info">Cancel</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
</section>
