<section>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Create User</strong>
          </div>
        <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
              <form action="" name="userplan">
                <div class="form-group">
                  <label for="exampleInputName1">Id</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName1" placeholder="User Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">User</label>
                  <input name="user" required type="text" class="form-control" id="exampleInputName2" placeholder="Enter User">
                </div>
                <label for="exampleInputName3">Plan</label>
                <div class="form-group" id="exampleInputName3">
                <span class="ui-select">
                  <select>
                    <option></option>
                    <option value="Party">Party</option>
                    <option value="Picnic">Picnic</option>
                    <option value="Dinner">Dinner</option>
                  </select>
                </span>
                </div>
                <div class="form-group">
                  <label for="exampleInputName4">Start Time</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName4" placeholder="Facebook Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName5">End Time</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName5" placeholder="Twitter Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName6">Timestamp</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName6" placeholder="Google Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputName7">URL</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName7" placeholder="Enter Access Level">
                </div>
                <div class="form-group">
                  <label for="exampleInputName8">Android</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName8" placeholder="Enter Contact number">
                </div>
                <div class="form-group">
                  <label for="exampleInputName9">IOS</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName9" placeholder="Enter Contact number">
                </div>
                <div class="form-group">
                  <label for="exampleInputName0">Server Detail</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName0" placeholder="Enter Contact number">
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">Folder Name</label>
                  <input name="id" required type="text" class="form-control" id="exampleInputName2" placeholder="Enter Contact number">
                </div>
                <div class="upload-img text-center mar30">
                  <button class="btn btn-sm btn-info">Save</button>
                  <button class="btn btn-sm btn-info">Cancel</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
</section>
