<section>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{header.name}}</strong>
          </div>
        <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
              <form name="user">
                <div class="form-group">
                  <label for="exampleInputName1">Id</label>
                  <input name="id" required ng-model="userForm.id" type="text" class="form-control" id="exampleInputName1" placeholder="User Id" readonly="">
                  <div class="error-msg" ng-show="user.id.$error.required && user.id.$touched">Please Enter Your id.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName2">User</label>
                  <input name="userName" ng-model="userForm.userName" required type="text" class="form-control" id="exampleInputName2" placeholder="Enter User">
                  <div class="error-msg" ng-show="user.userName.$error.required && user.userName.$touched">Please Enter Your Name.
                  </div>
                </div>
                <label for="exampleInputName3">Plan</label>
                <div class="form-group" id="exampleInputName3">
                <span class="ui-select">
                  <select name="plan" ng-model="userForm.plan" required>
                    <option></option>
                    <option value="Party">Party</option>
                    <option value="Picnic">Picnic</option>
                    <option value="Dinner">Dinner</option>
                  </select>
                  <div class="error-msg" ng-show="user.plan.$error.required && user.plan.$touched">Please Enter Your Plan.
                  </div>
                </span>
                </div>
                <div class="form-group">
                  <label for="exampleInputName4">Start Time</label>
                  <input name="startTime" required ng-model="userForm.startTime" type="text" class="form-control" id="exampleInputName4" placeholder="Start Time">
                  <div class="error-msg" ng-show="user.startTime.$error.required && user.startTime.$touched">Please Enter Start Time.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName5">End Time</label>
                  <input name="endTime" required ng-model="userForm.endTime" type="text" class="form-control" id="exampleInputName5" placeholder="End Time">
                  <div class="error-msg" ng-show="user.endTime.$error.required && user.endTime.$touched">Please Enter End Time.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName6">Timestamp</label>
                  <input name="timeStamp" required ng-model="userForm.timeStamp" type="text" class="form-control" id="exampleInputName6" placeholder="Timestamp">
                  <div class="error-msg" ng-show="user.timeStamp.$error.required && user.timeStamp.$touched">Please Enter Timestamp.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName7">URL</label>
                  <input name="url" required ng-model="userForm.url" type="text" class="form-control" id="exampleInputName7" placeholder="Enter URL">
                  <div class="error-msg" ng-show="user.url.$error.required && user.url.$touched">Please Enter Url.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName8">Android</label>
                  <input name="android" required ng-model="userForm.android" type="text" class="form-control" id="exampleInputName8" placeholder="Enter Android Version">
                  <div class="error-msg" ng-show="user.android.$error.required && user.android.$touched">Please Enter Android Version.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName9">IOS</label>
                  <input name="ios" required ng-model="userForm.ios" type="text" class="form-control" id="exampleInputName9" placeholder="Enter IOS number">
                  <div class="error-msg" ng-show="user.ios.$error.required && user.ios.$touched">Please Enter IOS.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName0">Server Detail</label>
                  <input name="serverDetail" required ng-model="userForm.serverDetail" type="text" class="form-control" id="exampleInputName0" placeholder="Enter Server Detail">
                  <div class="error-msg" ng-show="user.serverDetail.$error.required && user.serverDetail.$touched">Please Enter Server Detail.
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName10">Folder Name</label>
                  <input name="folderName" required ng-model="userForm.folderName" type="text" class="form-control" id="exampleInputName10" placeholder="Enter Folder Name">
                  <div class="error-msg" ng-show="user.folderName.$error.required && user.folderName.$touched">Please Enter Folder Name.
                  </div>
                </div>
                <div class="upload-img text-center mar30">
                  <button class="btn btn-sm btn-info" ng-click="submitForm(userForm,user)">Save</button>
                <a href="#/userplan">  <button class="btn btn-sm btn-info">Cancel</button></a>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
</section>
