  <button class="btn btn-primary  btn-sm btn-dark" ui-sref="createuser">ViewAll</button>
  <button class="btn btn-primary  btn-sm btn-dark" ui-sref="createuser">View</button>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>{{menutitle}}</strong>
      <button class="btn btn-primary btn-dark pull-right" ui-sref="createuser" style="margin-top: -7px;"><i class="fa fa-user-plus"></i> Create</button>
    </div>
    <div class="panel-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <span>
                Raj Shah
              </span>
            </td>
            <td>
              <span>rshah4316@gmail.com</span>
            </td>
            <td>
              <div class="">
              <button class="btn btn-primary btn-sm btn-dark" ui-sref="edituser"><i class="fa fa-pencil-square-o"></i>Edit</button>
              <button class="btn btn-primary btn-sm btn-dark"><i class="fa fa-trash"></i>Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</div>
