<div class="nav-wrapper">
  <ul class="nav">
    <li class="nav-title">
      <span>
        Navigation</span>
    </li>
    <li ng-repeat="menu in navigation" class="{{menu.classis}}">
      <a ui-sref="menu.anchor" ng-if="menu.anchor">
        <i class="fa fa-{{menu.icon}}"></i>
        <span>{{menu.name}}</span>
      </a>
      <ul ng-if="menu.subnav!='';">
        <li ng-repeat="submenu in menu.subnav">
          <a ui-serf="{{submenu.link}}">
            <i class="fa fa-caret-right"></i>
            <span>{{submenu.name}}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
